.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  /* overflow: hidden; */
  background-color: #222222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  height: 80px;
  width: 100%;
  background: #35a5da;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 50px;
}

.displayBox {
  margin-top: 70px;
  width: 85vw;
  height: 425px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.displayData {
  width: 100%;
  height: 90%;
  display: flex;
  background-color: #ebebeb;
  position: relative;
}

.displayData>h1 {
  position: absolute;
  top: -15px;
  right: 10px
}

.displayInfo {
  width: 40%;
  text-align: left;
  margin-left: 50px;
}

.displayInfo h1 {
  width: fit-content;
  margin-left: 10px;
  border-bottom: 2px solid #35a5da;
}

.displayInfo p {
  margin: 10px;
  font-size: 1.1em;
}

.movieInfo {
  margin-top: 35px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movieInfo p {
  margin: 3px;
}

.movieInfo .listItem {
  margin-left: 40px;
}

.buttonsDiv {
  width: 100%;
  height: 10%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsDiv>button {
  text-decoration: none;
  border: none;
  background-color: #222222;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
}

.blueButtons button {
  font-size: .9em;
  padding: 10px 15px;
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #35a5da;
  border: none;
  border-radius: 15px;
}

.hidden {
  visibility: hidden;
}

.promptFields {
  width: 85vw;
  height: fit-content;
  background-color: #ebebeb;
  margin: 50px 0;
}

.promptFields .prompts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.prompts input {
  height: 25px;
  border-radius: 3px;
}

.prompts * {
  width: calc(100% * (1/6) - 10px - 1px);
}

.prompts button {
  font-size: .9em;
  padding: 10px 15px;
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #35a5da;
  border: none;
  border-radius: 15px;
}